<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery1.8.0.min.js"></script>
<script type="text/javascript" src="/static/js/showdate.js"></script>
<script type="text/javascript" src="/static/js/layer/layer.js"></script>


<style>
    .pagelist {padding:10px 0; text-align:center;}
    .pagelist span,.pagelist a{ border-radius:3px; border:1px solid #dfdfdf;display:inline-block; padding:5px 12px;}
    .pagelist a{ margin:0 3px;}
    .pagelist span.current{ background:#09F; color:#FFF; border-color:#09F; margin:0 2px;}
    .pagelist a:hover{background:#09F; color:#FFF; border-color:#09F; }
    .pagelist label{ padding-left:15px; color:#999;}
    .pagelist label b{color:red; font-weight:normal; margin:0 3px;}

    .show {display: block;}
    .tip {width: 60%; height: 70%; margin-left:-11%;}
    .tipinfo li label {margin-right: 30px;}
    .tipinfo table td {border:1px solid;}
    .tipbtn{margin-top:30%; margin-left:45%;}

</style>
<script language="javascript">
$(function(){   
    //导航切换
    $(".imglist li").click(function(){
        $(".imglist li.selected").removeClass("selected")
        $(this).addClass("selected");
    })  
})  
</script>

</head>


<body>

    <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">数据表</a></li>
    <li><a href="#">基本内容</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
    
        <form action="{:url('family_user_list')}" method="get">
        <ul class="toolbar1">
            <li><span>开始时间:<input type="text" id="st" name="st" onclick="return Calendar('st');" value="" class="text" style="width:85px;"/>-结束时间<input type="text" id="et" onclick="return Calendar('et');" value="" name="et" class="text" style="width:85px;"/>&nbsp;&nbsp;&nbsp;<input type="text" name="search_name" style="height:22px;background: #d4e7f0;" placeholder="ID/昵称/手机号"><input type="submit" value="搜索" /></span></li>
        </ul>
        </form>
    
    </div>
    本期数据统计<br/><br/>
    <table class="tablelist">
        <thead>
        <tr>
        <th>期</th>
        <th>主播ID</th>
        <th>昵称</th>
        <th>手机号</th>
        <th>家族</th>

        <th>本期直播时长</th>
        <th>本期魔力值增量</th>
        <th>本期粉丝增量</th>
        <th>本期最高在线人数</th>
        <th>本期有效天数</th>
        <th>平均日增魔力</th>
        <th>平均日增粉丝</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>{$play_detail.periods}</td>
        <td>{$play_detail.user_id}</td>
        <td>数据</td>
        <td>数据</td>
        <td>数据</td>

        <td>{$play_detail.duration}</td>
        <td>{$play_detail.magic_add_num}</td>
        <td>{$play_detail.fans_add_num}</td>
        <td>{$play_detail.on_line_num}</td>
        <td>{$play_detail.valid_day_num}</td>
        <td>{$play_detail.mean_magic_day_num}</td>
        <td>{$play_detail.mean_fans_day_num}</td>
        </tr> 
        </tbody>
    </table><br/><br/>
    本期每日数据<br/><br/>
    <table class="tablelist">
        <thead>
        <tr>
        <th>日期</i></th>
        <th>主播ID</th>
        <th>昵称</th>
        <th>手机号</th>
        <th>家族</th>

        <th>日直播时长</th>
        <th>日魔力值增量</th>
        <th>日粉丝增量</th>
        <th>日最高在线人数</th>
        <th>是否为有效天</th>
        </tr>
        </thead>
        <tbody>
        <volist name="lists" id="play_detail">
        <tr>
        <td>{$play_detail.date}</td>
        <td>{$play_detail.user_id}</td>
        <td>数据</td>
        <td>数据</td>
        <td>数据</td>

        <td>{$play_detail.day_duration}</td>
        <td>{$play_detail.day_magic_add_num}</td>
        <td>{$play_detail.day_fans_add_num}</td>
        <td>{$play_detail.day_on_line_num}</td>
        <td>
            <if condition="$play_detail.status == 1">
                否
            <else />
                是
            </if>
            </td>

        </tr> 
        </volist>
        </tbody>
    </table>

    <div class="pagin">
        <div class="message">共<i class="blue">{$lists->total()}</i>条记录，当前显示第&nbsp;<i class="blue">{$lists->currentPage()}&nbsp;</i>页,共 {$lists->lastPage()} 页</div>
    </div>
    <div class="pagelist">
        {$lists->render()}
    </div>
    
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
    
    <script type="text/javascript">
        // $(".button1").click(function(){
        //     var id = $(this).attr("family_id");
            
        //     // $(".tip").addClass("show");
        // });  

        $(".button1").on('click',function(){
            var id = $(this).attr("family_id");
            var url = "{:url('/index/index/family_user_data/id/"+id+"')}";

            layer.open({
                type : 2,
                title : '查看家族成员资料',
                area : ['800px', '90%'],
                content : url
            });
        });
        
        
        $(".button2").on('click',function(){
            var id = $(this).attr("family_id");
            var url = "{:url('/index/index/family_user_data/id/"+id+"')}";

            layer.open({
                type : 2,
                title : '查看家族成员资料',
                area : ['800px', '90%'],
                content : url
            });
        });
        $(".button3").on('click',function(){
            layer.open({
              type: 1,
              area: ['600px', '360px'],
              shadeClose: true, //点击遮罩关闭
              content: '\<\div style="padding:20px;">自定义内容3\<\/div>'
              });
        });

        // $(".sure").click(function(){
        //     var id = $(this).attr("family_id");
        //     $(".tip").removeClass("show");
        // });
    </script>

</body>

</html>
