<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="/static/js/jquery.js"></script>
<script language="JavaScript" src="/static/ueditor/ueditor.config.js"></script>
<script language="JavaScript" src="/static/ueditor/ueditor.all.min.js"></script>
<script language="JavaScript" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>


</head>

<body>

    <div class="formbody">
    <ul class="forminfo">
    <li><label>家族ID</label>001</li>
    <li><label>家族长ID</label><input name="family_big_id" type="text" value="{$family_data['family_big_id']}" readonly class="dfinput" /></li> 
    <li><label>家族名称</label><input name="family_name" type="text" value="{$family_data['family_name']}" readonly class="dfinput" /></li>
    <li><label>提成系数</label><input name="coefficient" type="text" value="{$family_data['coefficient']}" readonly class="dfinput" value="0.40" /></li>
    <li><label>家族宣言</label><textarea name="family_declaration" cols="" rows="" class="textinput" readonly >{$family_data['family_declaration']}</textarea></li>
    <li><label>家族头像</label><input type="text" name="file" value="{$family_data['family_image']}" readonly class="dfinput" /></li> 
    <li><label>备注</label><textarea name="remark" cols="" rows="" class="textinput" readonly >{$family_data['remark']}</textarea></li>
    </ul>
    </div>

</body>
</html>
