<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="/static/js/jquery.js"></script>

</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">表单</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>管理员添加</span></div>
    <form id= "data-form">
    <ul class="forminfo">
    <li><label>用户名</label><input name="username" type="text" class="dfinput" placeholder="请输入用户名"/></li>
    <li><label>密码</label><input name="password" type="password" class="dfinput" placeholder="请输入密码" /></li>
    <li><label>确认密码</label><input name="rpassword" type="password" class="dfinput" placeholder="请输入确认密码"/></li></li>
    <li><label>&nbsp;</label><input name="" type="button" class="btn" value="确认保存"/></li>
    </ul>
    </form>
    </div>

</body>
<script>
    $(".btn").click(function(){
        $.ajax({
            type : "POST",
            url : "{:url('user_add_do')}",
            data : $("#data-form").serializeArray(),
            dataType : 'json',
            success : function(data){
                if (data["status"]) {
                    location.href = "{:url('right')}";
                } else {
                    alert(data["message"]);
                }
            }
        });
    });
</script>
</html>
